:root {
  --white: #ffffff;
  --light-gray1: #D4DCC0;
  --dark-blue: #106B60;
  --brown: #C69C6D;
  --light-black: #414141;
  --dark-green: #027E68;
  --light-green: #A2C648;
  --dark-green2: #0A524A;
  --light-gray2: #D6D6D6;
  --green: #43A737;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mplus-1", sans-serif;
}

.container {
  max-width: 1320px !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  padding-top: 107px;
}
body header {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
body header .container #header {
  height: 107px;
}
@media (min-width: 750px) and (max-width: 9999px) {
  body header .container #header #menu_mobile {
    display: none !important;
  }
  body header .container #header #menu_desktop {
    display: block !important;
  }
  body header .container #header a {
    size: 16px;
    line-height: 16px;
  }
  body header .container #header a.nav-link {
    color: var(--dark-green2);
  }
  body header .container #header a.button-link {
    display: block;
    font-weight: bold;
    color: var(--white);
    border-radius: 28px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    width: 265px;
    background: linear-gradient(270deg, var(--light-green) 0%, var(--dark-green) 50%, var(--light-green) 100%);
    background-size: 200% 100%;
    transition: all 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
  }
  body header .container #header a.button-link:hover {
    background-position: right center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  body header .container #header #menu_mobile {
    display: block !important;
  }
  body header .container #header #menu_desktop {
    display: none !important;
  }
  body header .container #header .menu-hamburger {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  body header .container #header .menu-hamburger .menu-line {
    width: 30px;
    height: 3px;
    background-color: var(--dark-green2);
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  body header .container #header .menu-hamburger.active .menu-line:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
  }
  body header .container #header .menu-hamburger.active .menu-line:nth-child(2) {
    opacity: 0;
  }
  body header .container #header .menu-hamburger.active .menu-line:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 0;
  }
}
body #banner {
  /* Estilos para os indicadores */
  /* Indicador ativo */
}
body #banner .swiper {
  width: 100%;
}
body #banner .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 0px) and (max-width: 499px) {
  body #banner .swiper-slide img {
    height: 250px;
  }
}
@media (min-width: 500px) and (max-width: 1000px) {
  body #banner .swiper-slide img {
    height: 315px;
  }
}
body #banner .swiper-pagination {
  bottom: 10px;
}
body #banner .swiper-pagination-bullet {
  width: 42px;
  height: 6px;
  margin: 0 5px;
  background-color: transparent;
  border: 1px solid var(--dark-green2);
  border-radius: 3px;
  transition: all 0.3s ease;
  opacity: 1;
}
body #banner .swiper-pagination-bullet-active {
  width: 62px;
  height: 6px;
  background-color: var(--dark-green2);
  transform: scale(1.2);
}
body #servicos {
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #D4DCC0 47%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
body #servicos .overview {
  height: 274px;
}
body #servicos .overview .inner-overview {
  position: relative;
  top: 110px;
  display: flex;
  justify-content: space-between;
}
body #servicos .overview .inner-overview .title {
  font-size: 36px;
  text-align: center;
  color: var(--dark-blue);
}
@media (min-width: 0px) and (max-width: 499px) {
  body #servicos .overview .inner-overview .title {
    font-size: 20px;
  }
}
@media (min-width: 500px) and (max-width: 749px) {
  body #servicos .overview .inner-overview .title {
    font-size: 30px;
  }
}
body #servicos .overview .inner-overview .hr {
  max-width: 617px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
body #servicos .overview .inner-overview .hr hr {
  border: 1px solid var(--brown);
  border-radius: 5px;
  width: 100%;
}
body #servicos .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
}
body #servicos .item {
  width: 414px;
  height: 469px;
  border: 1px solid var(--brown);
  border-radius: 0px 350px 0px 0px;
  background-color: white;
}
body #servicos .item .item-top {
  height: 47%;
  position: relative;
}
body #servicos .item .item-top .item-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
}
body #servicos .item .item-top .item-icon {
  position: absolute;
  bottom: -30px;
  left: 30px;
  border: 1px solid var(--brown);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 1;
}
body #servicos .item .item-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 94%;
  height: 1px;
  background-color: var(--brown);
  z-index: 0;
}
body #servicos .item .item-bottom {
  height: 53%;
}
body #servicos .item .item-bottom .item-title {
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  padding-left: 30px;
}
body #servicos .item .item-bottom .item-content {
  color: var(--light-black);
  font-size: 16px;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
body #servicos .btn-solicite-orcamento {
  padding-top: 60px;
  padding-bottom: 110px;
  text-align: center;
  display: flex;
  justify-content: center;
}
body #servicos .btn-solicite-orcamento a {
  display: block;
  font-weight: bold;
  color: var(--white);
  border-radius: 28px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  width: 265px;
  background: linear-gradient(270deg, var(--light-green) 0%, var(--dark-green) 50%, var(--light-green) 100%);
  background-size: 200% 100%;
  transition: all 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
}
body #servicos .btn-solicite-orcamento a:hover {
  background-position: right center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
@media (min-width: 0px) and (max-width: 499px) {
  body #servicos .btn-solicite-orcamento {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
@media (min-width: 500px) and (max-width: 749px) {
  body #servicos .btn-solicite-orcamento {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
body #banner2 {
  position: relative;
  margin-bottom: 110px;
}
@media (min-width: 0px) and (max-width: 499px) {
  body #banner2 {
    margin-bottom: 60px;
  }
}
@media (min-width: 500px) and (max-width: 749px) {
  body #banner2 {
    margin-bottom: 80px;
  }
}
body #banner2 img {
  width: 100%;
  height: auto;
}
@media (min-width: 0px) and (max-width: 499px) {
  body #banner2 img {
    height: 250px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 500px) and (max-width: 1500px) {
  body #banner2 img {
    height: 315px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
body #banner2 a {
  display: block;
  font-weight: bold;
  color: var(--white);
  border-radius: 28px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  width: 265px;
  background: linear-gradient(270deg, var(--light-green) 0%, var(--dark-green) 50%, var(--light-green) 100%);
  background-size: 200% 100%;
  transition: all 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
body #banner2 a:hover {
  background-position: right center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
body #sobrenos {
  position: relative;
}
@media (min-width: 0px) and (max-width: 1399px) {
  body #sobrenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
body #sobrenos .sobrenos {
  display: flex;
}
@media (min-width: 0px) and (max-width: 1399px) {
  body #sobrenos .sobrenos {
    justify-content: center;
  }
}
body #sobrenos .sobrenos .texto-icones {
  display: flex;
  max-width: 50%;
}
@media (min-width: 0px) and (max-width: 999px) {
  body #sobrenos .sobrenos .texto-icones {
    flex-direction: column;
    max-width: 500px;
  }
}
body #sobrenos .sobrenos .texto-icones .texto {
  padding-left: 30px;
}
body #sobrenos .sobrenos .texto-icones .texto .title {
  color: var(--dark-blue);
  font-size: 36px;
  margin-bottom: 30px;
}
body #sobrenos .sobrenos .texto-icones .texto .content {
  color: var(--light-black);
  font-size: 16px;
  padding-right: 30px;
}
body #sobrenos .sobrenos .texto-icones .icones {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
}
body #sobrenos .sobrenos .texto-icones .icones img {
  height: 120px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 999px) {
  body #sobrenos .sobrenos .texto-icones .icones {
    padding-top: 30px;
    flex-direction: row;
  }
  body #sobrenos .sobrenos .texto-icones .icones img {
    margin-bottom: 30px;
  }
}
body #sobrenos .banner img {
  width: 838px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 1400px) and (max-width: 1800px) {
  body #sobrenos .banner img {
    width: 45%;
  }
}
@media (min-width: 0px) and (max-width: 1399px) {
  body #sobrenos .banner img {
    max-width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=style.css.map */